body{
    background-color: white;
    flex-direction: column;
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.header{
    background-color: #0E2E00;
    border-bottom: 3px solid white;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo{
    color: white;
    font-size: xx-large;

}
.titulo span{
    font-weight: bold;
}
.navbar{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    color: green;
}
.navbar a {
    color: white;
    outline:none ;
    text-decoration:none ;
    font-size: larger;
}
.agora {
    font-weight: bolder;
}
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    
    
}
.banner{
    display: flex;
    height: 600px;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    justify-content: center;
    
}
.banner img{
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.texto{
    width: 100%;
    height: 90%;
    justify-content: start;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: space-around;
    text-shadow:0.0px,0.5px,0.0px,0.5px white;
    
}
.texto p{
    width: 300px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 34px;
}
.texto span{
    font-weight: bolder;
}
.info{
    width: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #0E2E00;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.titulo2{
    font-size: 50px;
    justify-items: space-between;
    display: flex;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
}
.imagem2{
    display: flex;
    object-fit: cover;
    width: 50%;
    height: 500px;
   margin-left: 50px;
}
.imagem img{
    justify-content: space-around;
    width: 700px;
    height: 100%;
    border-radius: 19px;
}
.imagem2 img{
    justify-content: space-around;
    width: 700px;
    height: 100%;
    border-radius: 19px;
}
.resposta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.resposta2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.social{
    height: 400px;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
}
.container h4{
    display: flex;
    font-size: xx-large;
    color: #5ccb5f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: row;
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.box h4{
    margin: 0;
    margin-top: 10px;
    color: #5ccb5f;
    font-size: medium;
}
.box p{
    display: flex;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.footer{
    height: 120px;
    width: 100%;
    background-color: #0E2E00;
}
.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
}
.footer h4 {
    margin-bottom: 0;
    font-size: larger;
}
.container img{
    border-radius: 15px;
}

.login{
    display: flex;
    height: 800px;
    width: 100%;
    background-image: url('../imgs/bonito-turismo.webp');
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.login .container{
    
    height: 57%;
    width: 60%;
    display: flex;
    justify-content: center;
    color: green;
    background-color: white;
    align-items: center;
    flex-direction: row;
    border-radius: 18px;
    margin-top: -100px;
    justify-content: space-between;
    
    
}
.container .texto2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #0E2E00;
    text-align: center;
    flex-direction: column;
    border-radius: 18px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-right: 40px;
    margin-top: -55px;
}
.container .imagem{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
}

.texto2 p{
    color: #0E2E00;
    display: flex;
    font-size: x-large;
}
.texto2 input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: solid;
    border-color: #0E2E00;
}
.texto2 button{
    border-radius: 10px;
    border: solid;
    border-color: #0E2E00;
    margin-top: 15px;
    color: white;
    background-color: #0E2E00;
    height: 60px;
    width: 200px;
    margin-top: 40px;
    font-size: x-large;
}

.login2{
    display: flex;
    height: 800px;
    width: 100%;
    background-image: url('../imgs/foto-2-1600x900.webp');
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.login2 .container2{
    
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    color: green;
    background-color: white;
    align-items: center;
    flex-direction: row;
    border-radius: 18px;
    margin-top: -50px;
    justify-content: space-between;
    
}
.container2 .imagem{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
}

.container2 .texto3{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #0E2E00;
    text-align: center;
    flex-direction: column;
    border-radius: 18px;
    font-size:medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-right: 50px;
    margin-top: -20px;
}
.texto3 p{
    color: #0E2E00;
    display: flex;
    font-size: large;
    
}
.texto3 input{
    height: 30px;
    width:280px;
    border-radius: 10px;
    border: solid;
    border-color: #0E2E00;
}
.texto3 button{
    border-radius: 10px;
    border: solid;
    border-color: #0E2E00;
    margin-top: 15px;
    color: white;
    background-color: #0E2E00;
    height: 32px;
    width: 100px;
    margin-top: 15px;
    font-size: large;
}


.social2{
    height: 5300px;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    
}
.container2 h4{
    height: 100%;
    display: flex;
    font-size: xx-large;
    color: #5ccb5f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    justify-content: flex-start;
}
.social2 .container2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.boxes2 {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: row;
    flex-wrap: wrap;
    flex-direction: column;
}
.box2{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start ;
    align-items: row;
    
}
.box2 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    margin-right: 20px;
    
}
.box2 h4{
    margin: 0;
    margin-top: 10px;
    color: #5ccb5f;
    font-size: x-large;
    flex-direction: row;
    margin-top: -20px;
    margin-right: -50px;
}
.box2 p{
    display: flex;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    flex-direction: row;
    align-items: flex-start;
}