
*{
    box-sizing: border-box;
}
.header{
    background-color: black;
    border-bottom: 3px solid green ;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo{
    color: green;
}
.navbar{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    color: green;
}
.navbar a {
        color: green;
        outline:none ;
        text-decoration:none ;

}
.agora {
    font-weight: bolder;
}
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
   
    
}
.banner{
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    
}
.banner img{
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.texto{
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: space-around;
    text-shadow:0.0px,0.5px,0.0px,0.5px white;
}
.texto p{
    width: 300px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    font-size: 34px;
}
.texto span{
    font-weight: bolder;
}
.info{
height: 400px;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo2{
     font-size: 34px;
}
.resposta{
    font-size: 18px;
    justify-content: space-around;
}
.social{
    height: 400px;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box img{
 width: 160px;
 height: 160px;
  border-radius: 10px;
}
.box h4{
    margin: 0;
    margin-top: 10px;
    color: #5ccb5f;
}
.footer{
    height: 120px;
    width: 100%;
    background-color: #003400;
}
.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer h4 {
    margin-bottom: 0;
}


