body{
    background-color: white;
    flex-direction: column;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: green;
    border-bottom: 3px solid green ;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}
.titulo{
    color: white;
    font-size: xx-large;

}
.titulo span{
    font-weight: bold;
}
.navbar{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    color: green;
}
.navbar a {
    color: white;
    outline:none ;
    text-decoration:none ;
    font-size: larger;
}
.agora {
    font-weight: bolder;
}
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    
    
}
.banner{
    display: flex;
    height: 600px;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    justify-content: center;
    
}
.banner img{
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-position: center;
    
}
.texto{
    width: 100%;
    height: 90%;
    justify-content: start;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: space-around;
    text-shadow:0.0px,0.5px,0.0px,0.5px white;
    
}
.texto p{
    width: 300px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 34px;
}
.texto span{
    font-weight: bolder;
}
.info{
    width: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.titulo2{
    font-size: 50px;
    justify-items: space-between;
    display: flex;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
}
.imagem{
    display: flex;
    object-fit: cover;
    width: 50%;
    height: 500px;
    
}
.imagem img{
    justify-content: space-around;
    width: 700px;
    height: 100%;
    border-radius: 19px;
}
.resposta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.resposta2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.social{
    height: 400px;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
}
.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: row;
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.box h4{
    margin: 0;
    margin-top: 10px;
    color: #5ccb5f;
}
.box p{
    display: flex;
    font-size: large;
}
.footer{
    height: 120px;
    width: 100%;
    background-color: #003400;
}
.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
}
.footer h4 {
    margin-bottom: 0;
    font-size: larger;
}
.container img{
    border-radius: 15px;
}
.login{
    display: flex;
    height: 800px;
    width: 100%;
    background:url(./imgs/bonito-turismo.webp);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.login .container{
    
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    color: green;
    background-color: white;
    align-items: center;
    flex-direction: row;
    border-radius: 18px;
    margin-top: -50px;
    
}
.container .texto{
    width: 100px;
    display: flex;
    justify-content: center;
    color: green;
    align-items: end;
    flex-direction: column;
    border-radius: 18px;
}
.container .imagem{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
